*{
  margin: 1px;
  padding: 0;
}
html{
  font-size: 16px;
}
.topnav{
  display: flex;
  background-color:#f0f0f5 ;
}
.yo{
  align-self: center;
  padding-left: 5px;
}
.navigation{
  display: flex;
  gap:15px;
  font-size: 1.1em;
  justify-content: flex-end;
  background-color: #f0f0f5;
  position: relative;
  bottom:2px;
  padding-right: 10px;
}
.navigation a{
  text-decoration: none;
  padding: 0.6em 0.9em;
  color:black;
}
.navigation a.home {
  background-color: #7575a3;
  color: white;
}
.navigation a:hover {
  background-color: #ccffcc;
  color: black;
}
.location{
  font-size: 1em;
}
.location{
  color:#9900cc;
  background-color: #f0f0f5;
  font-size: 2.5em;
  margin-left: auto;
  align-self: center;
}
header{
  display: flex;
  justify-content: flex-start;
  background-color: #f0f0f5;
}
.bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  padding-top: 5px;
}
.bottom a{
  background-color: #f0f0f5;
  padding-left: 10px;
  text-decoration: none;
}
footer{
  background-color: #f0f0f5;
  color:#7575a3;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #f0f0f5;
  color: #7575a3;
}

.fa-twitter {
  background: #f0f0f5;
  color: #7575a3;
}

.fa-instagram {
  background: #f0f0f5;
  color: #7575a3;
}

.fa-youtube {
  background: #f0f0f5;
  color: #7575a3;
}

.fa-google {
  background: #f0f0f5;
  color: #7575a3;
}
.part1{
  display: flex;
  width:50%;
  margin: auto;
  justify-content: space-between;
  padding: 20px;
}
.more-info{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  height:20%;
}
.icons{
  display: flex;
  justify-content: center;
  gap:15%;
}
.icons a{
  text-decoration: none;
}
.border{
  height:250px;
  border-left: 2px solid #7575a3;
  margin-top: 15px;
}
.connect{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-left: 10px;
  height:200px;
}
#five, #four{
  font-size: 2em;
  padding-bottom: 15px;
}